<div class="container">
  <app-title [titleModel]="primaryColors"></app-title>

  <!-- Parametric berry -->

  <div class="parametric-berry">
    <div class="parametric-berry__color-name">Parametric Berry</div>
    <div class="parametric-berry__color-code">#A63984</div>
  </div>

  <div class="spliter"></div>

  <div class="parametric-berry-scale">
    <div class="parametric-berry-scale__color-code-1">#E7BAD9</div>
    <div class="parametric-berry-scale__color-code-2">#D7BDC0</div>
    <div class="parametric-berry-scale__color-code-3">#CA67AB</div>

    <div class="parametric-berry-scale__color-code-4">#8A2F6E</div>
    <div class="parametric-berry-scale__color-code-5">#73275B</div>
    <div class="parametric-berry-scale__color-code-6">#5F204C</div>
  </div>

  <div class="spliter big"></div>

  <!-- Parametric Gray -->

  <div class="parametric-gray">
    <div class="parametric-gray__color-name">Parametric Gray</div>
    <div class="parametric-gray__color-code">#47535F</div>
  </div>

  <div class="spliter"></div>

  <div class="parametric-gray-scale">
    <div class="parametric-gray-scale__color-code-1">#C2CDDB</div>
    <div class="parametric-gray-scale__color-code-2">#94A5B7</div>
    <div class="parametric-gray-scale__color-code-3">#6A7B8D</div>
  </div>

  <div class="spliter"></div>

  <!-- Secondary colors -->
  <div class="spliter big"></div>
  <app-title [titleModel]="secondaryColors"></app-title>

  <div class="gray-scale">
    <div class="gray-scale__light-gray">#D7DFE0</div>
    <div class="spliter"></div>
    <div class="gray-scale__gray">#ABB2BD</div>
    <div class="spliter"></div>
    <div class="gray-scale__dark-gray">#46535C</div>
    <div class="spliter"></div>
    <div class="gray-scale__dark-solid-gray">#29333B</div>

    <div class="spliter big"></div>
  </div>

  <!-- 3155503862 -->

  <div class="parametric-blue">
      <div class="parametric-blue__name-color">Parametric blue</div>
      <div class="parametric-blue__code-color">#3997AB</div>
  </div>
  <div class="spliter"></div>


  <!-- Parametric blue -->
  <div class="parametric-blue-scale">
    <div class="parametric-blue-scale__color-code-1">#5CC8D4</div>
    <div class="parametric-blue-scale__color-code-2">#236978</div>
  </div>

  <!-- Grey scale -->
  <app-title [titleModel]="greyScale"></app-title>

  <div class="surface">
    <div class="surface__color-name">Surface</div>
    <div class="surface__color-code">#F6F6F6</div>
  </div>

  <div class="spliter"></div>

  <div class="body-text">
    <div class="body-text__color-name">Body text</div>
    <div class="body-text__color-code">#333333</div>
  </div>

  <div class="spliter"></div>

  <div class="body-text-light">
    <div class="body-text-light__color-name">Body text light</div>
    <div class="body-text-light__color-code">#666666</div>
  </div>

  <div class="spliter"></div>

  <div class="body-text-lighter">
    <div class="body-text-lighter__color-name">Body text lighter</div>
    <div class="body-text-lighter__color-code">#888888</div>
  </div>

  <div class="spliter"></div>

  <div class="body-text-lighter9">
    <div class="body-text-lighter9__color-name">Body text light</div>
    <div class="body-text-lighter9__color-code">#999999</div>
  </div>
</div>
