@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
@import "../../styles/abstracs/variables";

button {
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  width: 140px;
  height: 50px;
  font-family: Spartan, sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

// button primary
.btn-primary {
  border: none;
  color: $primary-color;
  background: $secondary-color;
}

.btn-primary:hover {
  filter: brightness(120%); 
}

// button secondary
.btn-secondary {
  border: none;
  color: $primary-color;
  background: $tertiary-color;
}

.btn-secondary:hover {
  filter: brightness(120%);
}

// button tertiary
.btn-tertiary {
  border: none;
  color: $primary-color;
  background: $primary-text-color;
}

.btn-tertiary:hover {
  filter: brightness(120%);
}

// Buttons Outline
.btn-outline-primary {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  background: $primary-color;
}

.btn-outline-primary:hover {
  color: $primary-color;
  background: $secondary-color;
}

// secondary button
.btn-outline-secondary {
  border: 1px solid $tertiary-color;
  color: $tertiary-color;
  background: $primary-color;
}

.btn-outline-secondary:hover {
  color: $primary-color;
  background: $tertiary-color;
}

// Tertiary button
.btn-outline-tertiary {
  border: 1px solid $primary-text-color;
  color: $primary-text-color;
  background: $primary-color;
}

.btn-outline-tertiary:hover {
  color: $primary-color;
  background: $primary-text-color;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}
