<nav class="container-main">
  <div class="nav-wrapper">
    <img
      class="nav-wrapper__img-navbar"
      src="../../../assets/img/Parametriclogo600x1202x.png"
      width="30"
      height="30"
      alt=""
      loading="lazy"
    />

    <div class="nav-wrapper__navbar-items">
      <div class="nav-wrapper__label">foundation</div>
      <a class="nav-wrapper__item"
        >Layout <span class="sr-only">(current)</span></a
      >
      <a class="nav-wrapper__item">Typography</a>
      <a class="nav-wrapper__item" [routerLink]="routes.COLORS">Color</a>
      <a class="nav-wrapper__item">Iconography</a>
    </div>

    <div class="nav-wrapper__navbar-items">
      <div class="nav-wrapper__label">components</div>
      <a class="nav-wrapper__item" [routerLink]="routes.BUTTONS"
        >Buttons <span class="sr-only">(current)</span></a
      >
      <a class="nav-wrapper__item" [routerLink]="routes.CARDS">Cards</a>
      <a class="nav-wrapper__item" [routerLink]="routes.LINKS">Links</a>
      <a class="nav-wrapper__item" [routerLink]="routes.PROMOS">Promos</a>
    </div>
  </div>
</nav>
