@import "../../styles/abstracs/variables";

.container-main {
  height: 5px;
  width: 220px;
  position: relative;
  top: 0;
  z-index: 3;
}

.nav-wrapper {
  position: fixed;
  height: 100%;
  width: 220px;
  padding: 30px;
  background: $ligth-gray-color 0% 0% no-repeat padding-box;

  &__img-navbar {
    width: 145px;
    z-index: 4;
  }

  &__navbar-items {
    display: flex;
    flex-direction: column;
  }

  &__navbar-items a {
    text-decoration: none;
  }

  &__label {
    text-transform: uppercase;
    color: $gray-color;
    margin-top: 22px;
    letter-spacing: 0.45px;
    font-weight: 600;
    font-size: 18px;
  }

  &__item {
    padding: 5px 0 5px 20px;
    color: $tertiary-color;
    font-weight: 600;
    font-size: 16px;
  }
}

a:focus {
  background-color: $tertiary-color;
  color: $primary-color;
  border-radius: 4px;
}

a:not(:focus):hover {
  filter: brightness(150%);
}
