<app-title [titleModel]="bigTitle"></app-title>
<hr />

<app-title [titleModel]="buttonsTitle"></app-title>
<app-primary-button [labelBtn]="labelBtn"></app-primary-button>

<hr />
<app-title [titleModel]="outlineTitle"></app-title>

<div class="row">
  <app-secondary-buttom
    *ngFor="let button of buttonModel"
    [buttonModel]="button"
    class="col-12 col-sm-12 col-md-5 col-lg-4"
  ></app-secondary-buttom>
</div>

<hr />

<app-title [titleModel]="staticTitle"></app-title>

<div class="row">
  <app-secondary-buttom
    *ngFor="let button of buttonNomalModel"
    [buttonModel]="button"
    class="col-12 col-sm-12 col-md-5 col-lg-4"
  ></app-secondary-buttom>
</div>
