<div class="OurPeople-author"> 
    <div class="OurPeople_photo-container">
        <div class="OurPeople_authorPhoto">
            <img src="assets/img/tom-lee_250x250.jpg" alt="Tom Lee photo">
        </div>
    </div>
    <div class="OurPeople_info-container">
        <div class="OurPeople_author-info">
            <p class="OurPeople_authorName">Tom Lee, CFA</p>
            <p class="OurPeople_authorPosition">Director, Responsible Investing</p>
        </div>
        <app-primary-button [labelBtn]="labelBtn"></app-primary-button>
    </div>
</div>