<app-title [titleModel]="bigTitle"></app-title>

<app-title [titleModel]="currentPromoboxTitle"></app-title>
<hr />
<div class="row">
  <app-promobox
    *ngFor="let item of configModel"
    [configPromoBox]="item"
    class="col-12 col-sm-12 col-md-10 col-lg-6"
  ></app-promobox>
</div>

<app-title [titleModel]="modernPromoboxTitle"></app-title>
<hr />
<div class="row">
  <app-promobox-card
    *ngFor="let item of configModel"
    [configPromoBox]="item"
    class="col-12 col-sm-12 col-md-5 col-lg-4"
  ></app-promobox-card>
</div>
