<app-title [titleModel]="bigTitle"></app-title>
<hr />
<app-title [titleModel]="firstTitle"></app-title>

<div class="row">
  <app-people-card class="col"></app-people-card>
  <app-people-card class="col"></app-people-card>
  <app-people-card class="col"></app-people-card>
</div>

<hr />
<app-title [titleModel]="secondTitle"></app-title>

<div class="row">
  <app-secondary-card
    *ngFor="let card of cardModel"
    [cardModel]="card"
    class="col-12 col-sm-12 col-md-5 col-lg-4"
  ></app-secondary-card>
</div>
